# Gradle
.gradle/
build/
local.properties

# IntelliJ
.idea/
*.iml

# MacOS
.DS_STORE

# kotlin
.kotlin/

# android
.android

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
